.dashboardItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.progressBarText{
    margin-top: 0.5rem;
    font-family: fantasy;
    color: rgb(239, 69, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textIcon{
    width: 3rem;
    height: 3rem;
}